<div style="margin-top: 20px;">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase" style="font-size: 2.5em; margin: 20px 0;">Welcome To Our Bakery Shop!</h2>
        </div>
        <ul class="timeline">
            <li style="margin-bottom: 120px;"><a href="../../assets/img/strawberry.jpg" target="_blank">
                    <div class="timeline-image" style="width: 250px; height: 250px; overflow: hidden; display: flex; align-items: center; justify-content: center;"><img class="rounded-circle img-fluid" src="../../assets/img/strawberry.jpg"
                            alt="..." style="width: 100%; height: 100%; object-fit: cover;" /></div>
                </a>
                <div class="timeline-panel" style="display: flex; align-items: center; margin-left: 20px;">
                    <div class="timeline-heading">
                    </div>
                </div>
            </li>
            <li class="timeline-inverted" style="margin-bottom: 120px;">
                <a href="../../assets/img/stars.jpg" target="_blank">
                    <div class="timeline-image" style="width: 250px; height: 250px; overflow: hidden; display: flex; align-items: center; justify-content: center;"><img class="rounded-circle img-fluid" src="../../assets/img/stars.jpg"
                            alt="..." style="width: 100%; height: 100%; object-fit: cover;" /></div>
                </a>
                <div class="timeline-panel" style="display: flex; align-items: center; margin-left: 20px;">
                    <div class="timeline-heading">
                    </div>
                </div>
            </li>
            <li style="margin-bottom: 120px;">
                <a href="../../assets/img/cookies.jpg" target="_blank">
                    <div class="timeline-image" style="width: 250px; height: 250px; overflow: hidden; display: flex; align-items: center; justify-content: center;"><img class="rounded-circle img-fluid" src="../../assets/img/cookies.jpg"
                            alt="..." style="width: 100%; height: 100%; object-fit: cover;" /></div>
                </a>
                <div class="timeline-panel" style="display: flex; align-items: center; margin-left: 20px;">
                    <div class="timeline-heading">
                    </div>
                </div>
            </li>
            
            <li class="timeline-inverted">
                <div class="timeline-image" style="width: 150px; height: 150px; margin-left: -75px;">
                    <h4 style="font-size: 11px; line-height: 15px; margin-top: 45px;">
                        Be Part
                        <br />
                        Of Our
                        <br />
                        Cafe!
                    </h4>
                </div>
            </li>
        </ul>
    </div>
</div>