<body>
    <div class="row" *ngIf="currentRole == 'admin'">
      <mat-card>
        <b><span>Dashboard</span></b>
      </mat-card>
      <br>
        <div class="column">
            <div class="card">
                <div class="container">
                    <h2 class="title">Total Category:</h2>
                    <h1 class="title">{{data?.category}}</h1>
                    <p><button class="button" [routerLink]="['/cafe/category']">View Category</button></p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <div class="container">
                    <h2 class="title">Total Product:</h2>
                    <h1 class="title">{{data?.product}}</h1>
                    <p><button class="button" [routerLink]="['/cafe/product']">View Product</button></p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <div class="container">
                    <h2 class="title">Total Bill:</h2>
                    <h1 class="title">{{data?.bill}}</h1>
                    <p><button class="button" [routerLink]="['/cafe/bill']">View Bill</button></p>
                </div>
            </div>
        </div>
    </div>

    <div class="row" *ngIf="currentRole == 'user'">
      <mat-card>
        <b style="padding: 20px"><h1>Recommend Products</h1></b>
      </mat-card>
      <br>
      <hr>
      <div class="product-grid">
        <mat-card *ngFor="let product of filteredProducts" class="product-card">
          <img mat-card-image [src]="'http://localhost:9091' + product.imagePath" alt="{{product.name}}">
          <mat-card-content>
            <h2>{{product.name}}</h2>
            <div class="content">
              <div class="info">
                <p>Category: {{product.categoryName}}</p>
                <p>Flavor: {{product.flavor}}</p>
                <span>Amount: </span>
                <input type="text" [(ngModel)]="product.amount">
              </div>
              <div>
                <p>{{product.price}}</p>
              </div>
            </div>
          </mat-card-content>
          <mat-card-actions>
            <div class="btnWrapper">
              <button mat-button class="addToOrderBtn" color="accent">Add to order</button>
            </div>
          </mat-card-actions>
        </mat-card>
      </div>


    </div>
</body>
